
body {
	background: $card-background-color;
}

#deck {
	padding: 0;

	.column {
		padding: 0;
	}

	.card {
		border-left: none;
		border-right: none;
		border-top: none;
		border-radius: 0;
		margin-bottom: 0;
	}
}
