
#deck {
	position: relative;
	padding: $body-margin $body-margin ($body-margin - $card-margin);
	padding-left: $body-margin * 3;

	.column {
		padding-left: $card-margin;

		&:first-child {
			padding-left: 0;
		}

		&.fixed-width {
			// non-fixed-width columns take
			//  the full width available
			float: left;
		}
	}
}
