
#deck {
	padding: $body-margin;
	padding-left: $body-margin * 3;

	.column {
		padding-right: $card-margin;

		&:last-child {
			padding-right: 0;
		}

		&.fixed-width {
			// non-fixed-width columns take
			//  the full width available
			float: left;
		}
	}

	@import "card";
}
