
@import "mixins";
@import "variables";

@import "reset";
@import "font";

@import "animations";

html, body {
	height: 100%;
}

body {
	background: $background-color;
	margin: 0;
	padding: 0;
}

.clear {
	clear: both;
}

@import "layout";
@import "deck";
@import "card";

@media screen and (max-width: $break-small) {
	@import "break-small";
}
