
// apply an icon from the $x, $y grid in the icons svg image
//  as background image and scale it to $width
@mixin icon($x, $y, $width) {
	$scale: $width / $icons-svg-icon-width;
	$left: - $scale * $x * ($icons-svg-icon-width + $icons-svg-margin);
	$top: - $scale * $y * ($icons-svg-icon-width + $icons-svg-margin);
	background-image: url(../images/icons.svg);
	background-repeat: no-repeat;
	background-position: $left $top;
	background-size: ($icons-svg-width * $scale) auto;
}
