
// colors
$color-white: #fcfcfc;
$color-blue: #249db3;
$color-red: #b22626;
$color-black: #191918;
$color-text-black: #1f1f1f;
$color-text-gray: #959595;

// breakpoints
$break-small: 500px;

// icons file
$icons-svg-width: 50px;
$icons-svg-icon-width: 20px;
$icons-svg-margin: 10px;

// background
$background-color: #f7f7f7;

// application
$main-hamburger-width: 30px;
$main-hamburger-height: 30px;
$body-margin: 40px;
$card-margin: 30px;

// side
$side-width: 280px;
$side-background-color: $color-black;
$side-color: #aeaeae;
$side-hover-color: $color-white;

// card
$card-background-color: $color-white;
$card-border-color: #dddddd;
$card-content-border-color: #eeeeee;
$card-format-color: $color-blue;
$card-header-height: 28px;
$card-footer-height: $card-header-height;
$card-content-padding-horizontal: 25px;
$card-content-padding-vertical: 20px;

// format card
$format-arrow-height: $card-header-height + 2px;
$options-height: $card-header-height;
$options-color: $color-text-gray;
$options-label-width: 120px;
$options-label-color: $color-text-gray;
$options-padding-horizontal: 10px;

// card composer
$composer-color: $color-text-black;
$composer-block-color: #dddddd;
$composer-block-error-color: ($color-red + #202020);
