
@import "mixins";
@import "variables";

@import "reset";
@import "font";

@import "animations";

html, body {
	height: 100%;
}

body {
	background: $background-color;
	margin: 0;
	padding: 0;
}

@import "application";

@media screen and (max-width: $break-small) {
	@import "break-small";
}
