
#deck {
	padding: $header-main-height 0 0 30px;

	.column {
		padding: 0 30px 30px 0;

		&.fixed-width {
			// non-fixed-width columns take
			//  the full width available
			float: left;
		}
	}

	@import "card";

	&.animated {

		.composer textarea {
			transition: height 0.2s;
		}
	}
}
