
#header-main {
	position: fixed;
	height: ($header-main-height - 1px);
	top: 0;
	right: 0;
	left: 0;
	z-index: 10;
	background: $header-main-background-color;
	border-bottom: 1px solid $header-main-border-color;

	h1 {
		display: table;
		padding: 0 50px 0 50px;
		height: ($header-main-height - 1px);
		font-size: 25px;
		line-height: ($header-main-height - 1px);
		vertical-align: middle;
		color: $header-main-color;
	}
}
