
// colors
$color-white: #fcfcfc;
$color-blue: #249db3;

// breakpoints
$break-small: 500px;

// background
$background-color: #f7f7f7;

// header
$header-main-height: 60px;
$header-main-background-color: $color-white;
$header-main-color: $color-blue;
$header-main-border-color: #dddddd;

// card
$card-background-color: $color-white;
$card-border-color: #dddddd;
$card-content-border-color: #eeeeee;
$card-format-color: $color-blue;
$card-format-header-height: 24px;
$card-content-padding-horizontal: 25px;
$card-content-padding-vertical: 20px;

// format card options
$options-height: 34px;
$options-color: #1f1f1f;
$options-label-width: 100px;
$options-label-color: $color-blue;
$options-padding-horizontal: 10px;

// card composer
$composer-color: #1f1f1f;
$composer-block-color: #eeeeee;
$composer-block-error-color: #ffbfbf;
