
$background-color: #f7f7f7;

$header-main-height: 75px;
$header-main-background-color: #fcfcfc;
$header-main-color: #249db3;
$header-main-border-color: #dddddd;

$card-background-color: #fcfcfc;
$card-border-color: #dddddd;
$card-content-border-color: #eeeeee;
$card-format-color: #249db3;
$card-format-header-height: 24px;
$card-content-padding-horizontal: 25px;
$card-content-padding-vertical: 20px;

$options-height: 34px;
$options-color: #1f1f1f;
$options-label-width: 100px;
$options-label-color: #249db3;
$options-padding-horizontal: 10px;

$composer-color: #1f1f1f;
$composer-block-color: #eeeeee;
$composer-block-error-color: #ffbfbf;
